*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #332a2a;
  background-image: url(../src/img/Screenshot\ 2026-09-17\ 032253.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}
